:root {
    --bg-dark: #121212;     
    --bg-sidebar: #1e1e1e;   
    --accent-color: #ffcc00; 
    --text-color: #e0e0e0;   
    --hover-color: #333333;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-color);
    overflow: hidden; 
}

header {
    height: 60px;
    background-color: var(--bg-sidebar);
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid var(--accent-color); 
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: var(--accent-color);
    font-weight: bold;
}

.main-container {
    display: flex; 
    height: calc(100vh - 60px); 
    width: 100vw;
}

.sidebar {
    width: 250px;
    background-color: var(--bg-sidebar);
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column; 
}

.menu-item {
    display: flex;
    flex-direction: column; 
}

.menu-link {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px; 
    transition: 0.3s;
    color: var(--text-color);
}

.menu-link div { 
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-link:hover {
    background-color: var(--hover-color);
    color: var(--accent-color);
}

.submenu {
    display: none; 
    list-style: none;
    background-color: #161616; 
}

.submenu li {
    padding: 12px 20px 12px 55px; 
    font-size: 0.9rem;
    color: #aaa;
    cursor: pointer;
    transition: 0.3s;
}

.submenu li:hover {
    color: var(--accent-color);
    background-color: #252525;
}

.menu-item.active .submenu {
    display: block;
}

.content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    flex: 1; 
    height: 100%;  
    box-sizing: border-box; 
}

.calc-container{
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 400px;
    background-color: var(--bg-sidebar);
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    color: var(--text-color);
    padding: 20px;
    margin: 0 auto

}

.hidden {
    display: none;
}

.calc-container input {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background-color: #222;
    color: white;
}

.calc-container button {
    cursor: pointer;
    padding: 10px;
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.calc-container button:hover {
    filter: brightness(1.2); 
}

@keyframes pulsarAmarelo {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.4);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); 
        transform: scale(1.01); 
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 0, 0.4);
        transform: scale(1);
    }
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #1a1a1a; 
    border: 1px solid #ffff00; 
    color: #ffff00; 
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;

    animation: pulsarAmarelo 3s infinite ease-in-out;
}
